<!DOCTYPE html>
<html>
<link
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        id="bootstrap-css" rel="stylesheet">
<script
        src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="./css/connect.css" rel="stylesheet">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/bomberman/consulteCompte">Compte</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/bomberman/leaderboard">Leaderboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bomberman/historique">Historique</a>
            </li>
            <li class="nav-item">
                <form action="/bomberman/deconnection" class="form" id="deconnect-form"
                      method="post">
                    <input class="btn btn-danger" name="action"
                           onClick='deconnectCompte()' type="submit"
                           value="Supprimer">
                    <script language='javascript'>
                            function deconnectCompte() {
                                if (confirm("Confirmez vous vouloir vous deconnectez de votre compte?")) {
                                    var form = document.getElementById("deconnect-form")
                                    form.submit();
                                }
                            }
                        </script>

                </form>
        </ul>
    </div>
</nav>


<div id="register">
    <div class="container">
        <div class="row justify-content-center align-items-center"
             id="login-row">
            <div class="col-md-6" id="login-column">
                <div class="col-md-12" id="login-box">
                    <form action="/bomberman/gestionCompte" class="form" id="login-form" method="post">

                        </br> </br> </br>
                        <h3 class="text-center text-info">Consultation du compte :</h3>
                        </br> </br> </br>

                        <div class="alert alert-danger" role="alert" th:if="${msg_error}" th:utext="${msg_error}"></div>
                        <div class="alert alert-success" role="alert" th:if="${msg_success}"

                             th:utext="${msg_success}"></div>
                        <div class="form-group">
                            <label class="text-info" for="username">Username:</label> <input
                                class="form-control" id="username" name="username" type="text">
                        </div>
                        <div class="form-group">
                            <label class="text-info" for="password">Password:</label> <input
                                class="form-control" id="password" name="password"
                                type="password">
                        </div>
                        <div class="form-group">
                            <label class="text-info" for="password">Password:</label> <input
                                class="form-control" id="passwordverif" name="password"
                                type="password">
                        </div>
                        <div class="form-group">
                            <label class="text-info" for="mail">Mail:</label> <input
                                class="form-control" id="mail" name="mail" type="email">
                        </div>
                        <div class="form-group">
                            <br> <input class="btn btn-info btn-md" name="action"
                                        type="submit" value="Modifier">
                        </div>
                        <br> <input class="btn btn-danger" name="action"
                                    onClick='supprimerCompte()' type="submit"
                                    value="Supprimer">
                        <script language='javascript'>
                            function supprimerCompte() {
                                if (confirm("Confirmez vous vouloir supprimer votre compte?")) {
                                    var form = document.getElementById("login-form")
                                    form.submit();
                                }
                            }
                        </script>
                    </form>

                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>