<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<link
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        id="bootstrap-css" rel="stylesheet">
<script
        src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="./css/connect.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Bomberman creation compte</title>
</head>
<body>
<div id="register">
    <div class="container">
        <div class="row justify-content-center align-items-center" id="login-row">
            <div class="col-md-6" id="login-column">
                <div class="col-md-12" id="login-box">
                    <form action="/bomberman/registernew" class="form" id="register-form" method="post">
                        </br>
                        </br>
                        </br>
                        <h3 class="text-center text-info">Création de compte :</h3>
                        </br>
                        </br>
                        </br>
                        <div class="alert alert-danger" role="alert" th:if="${msg_error}" th:utext="${msg_error}"></div>
                        <div class="alert alert-success" role="alert" th:if="${msg_success}"
                             th:utext="${msg_success}"></div>
                        <div class="form-group">
                            <label class="text-info" for="username">Username:</label>
                            <input class="form-control" id="username" name="username" type="text">
                        </div>
                        <div class="form-group">
                            <label class="text-info" for="password">Password:</label>
                            <input class="form-control" id="password" name="password" type="password">
                        </div>
                        <div class="form-group">
                            <label class="text-info" for="mail">Mail:</label>
                            <input class="form-control" id="mail" name="mail" type="email">
                        </div>
                        <div class="form-group">
                            <br>
                            <input class="btn btn-info btn-md" name="submit" type="submit" value="Valider">
                        </div>
                        <div class="text-right" id="register-link">
                            <a class="text-info" href="/bomberman/connection">Connexion
                                ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>