<!DOCTYPE html>
<html>
<link
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        id="bootstrap-css" rel="stylesheet">
<script
        src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="assets/css/bootstrap.css" rel="stylesheet">
<script
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Bomberman Lader</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/bomberman/consulteCompte">Compte</a>
    <button aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link"
                                           href="/bomberman/leaderboard">Leaderboard <span
                    class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item"><a class="nav-link"
                                    href="/bomberman/historique">Historique</a></li>
            <li class="nav-item">
                <form action="/bomberman/deconnection" class="form"
                      id="deconnect-form" method="post">
                    <input class="btn btn-danger" name="action"
                           onClick='deconnectCompte()' type="submit" value="Déconnexion">
                    <script language='javascript'>
                        function deconnectCompte() {
                            if (confirm("Confirmer la déconnexion ?")) {
                                var form = document
                                    .getElementById("deconnect-form")
                                form.submit();
                            }
                        }
                    </script>

                </form>
        </ul>
    </div>
</nav>


<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">UserName</th>
        <th scope="col">Victoire</th>
        <th scope="col">Defaite</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${lader}">

        <td th:text="${user.getUsername()}"/>


        <td th:text="${user.getVictoire()}"/>

        <td th:text="${user.getDefaite()}"/>

    </tbody>
</table>

<form action="/bomberman/leaderboard" class="form"
      id="leaderboard-form" method="post">
    <div class="btn-group">
        <select class="custom-select">
            <option value="victoire">Victoire</option>
            <option value="defaite">Défaite</option>
            <option value="ratio">Ratio Victoire/Défaite</option>

        </select>
    </div>
    </button>
    </div>
    </from>
</body>
</html>